{% load static %}


<!doctype html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src= "{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white">Fundación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html" style="color: white">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">Ver pedido</a>
        </li>
      </ul>
    
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Vista_inicio' %}">
          <img src="{% static '/images/Logo.jpg' %}" alt="Logo" width="95" height="95" class="d-inline-block align-text-top" style="border-radius: 50%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menú de Categorías
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{}">Semillas</a></li>
                <li><a class="dropdown-item" href="{}">Tierra y abono</a></li>
                <li><a class="dropdown-item" href="{}">Herramientas de Cultivo</a></li>
                <li><a class="dropdown-item" href="{}">Maceteros</a></li>
              </ul>
            </li>
          </ul>
          <div class="container">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="¿Qué estás buscando?" aria-label="Buscar" aria-describedby="button-addon2">
              <button class="btn btn-success" type="submit" id="button-addon2"><img src="{% static '/images/LupaIcono.png' %}" width="40" height="40"></button>
            </div>
          </div>
          <button class="btn-carrito" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="{% static '/images/IconoCarrito.png' %}" width="50" height="50"></button>
        </div>
      </div>
      {% if messages %}
        {% for message in messages %}
        <div class="notificacion {{ message.tags}}">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    </nav>
    <!---Contenedor Principal--->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!--Contenedor inicio de sesion-->
  
          <div class="rounder-5 p-4 bg-white box-area regist">
                <div class="col-md-6 inisesion">
                  <h3>Inicio de Sesión</h3>                                   
                  <form id="inicio" method="POST">   
                    {% csrf_token%}                                        
                    {{ form.as_p }}
                    <button type="submit">Acceder</button>
                          <!-- errores -->
                          <div id="inierror"></div>

                          <div class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column suscrip">

                            <div class="featured-image">
                                <img src="{% static 'images/ImagenSuscribir.jpg' %}" class="img-fluid" style="width: 250px">
                            </div>
                            <p>¡Suscríbete y consigue beneficios exclusivos!</p>
                        </div>
                        
                          <div class="mini">
                              <div class="row">
                                  <small>¿Aun no tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a></small>
                              </div>
                          </div>

                      </div>

                  </form>
                  </div>
            
          </div>
              

        
x

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>


</html>